@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
:root {
    height: 100%;
}

@media (max-width: 575px) {
    .max-xs\:hidden {
        display: none;
    }
}

@media (max-width: 767px) {
    .max-sm\:hidden {
        display: none;
    }
}

@media (max-width: 991px) {
    .max-md\:hidden {
        display: none;
    }
}

@keyframes blink {
    0%,
    49% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}

.blinking {
    animation: blink 1s linear infinite;
}

.input::placeholder {
    color: #f59e0b; /* 원하는 색상으로 변경 */
}
